* {
  margin: 0; padding: 0;
  position: relative;
  /*border: 1px solid;*/
}

html, body {
  height: 100%;
}

#navbar {
  /*border: 1px solid;*/
  position: fixed;
  top: 50%;
  margin-top: -159px;
  right: 5px;
  /*transform: translateX(-50%) translateY(-50%);*/
  width: 91px;
  height: 319px;
  z-index: 999;
  text-align: center;
}

.shortcut {
  right:0;
  z-index: 999;
  width: 91px;
  height: 104px;
  background-image: url("images/shortcut-extra.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
  /*background-size: cover;*/
}
.navigation {
  margin: 0 auto;
  width: 45px;
  height: 215px;
  /*top: 10px;*/
  background-image: url("images/navigation.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
}
.navigation ul {
  /*margin-top: 20px;*/
  padding-top: 10px;
  width: 41px;
}
.navigation li {
  list-style: none;
  right: 0px;
  width: 41px;
  height: 27px;
  margin: 3px auto;
}
.navigation ul li a {
  background-image: url("images/navigation-dot.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
  width: 24px;
  height: 27px;
  display: block;
  transform: scale(0.6);
}
.navigation li.active a {
  transform: scale(1);
  background-position: 0 -27px;
}
.navigation li.active span {
  background-image: url("images/navigation-sight.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 41px;
  height: 41px;
  position: absolute;
  top: -7px;
  left: -1px;
}

#wrapper {
  /*min-height: 100%;*/
  /*width: 100%;*/
}

img {

}

.section {

  /*width: 90%;
  height: 90%;*/
  /*position: absolute;
  top: 0;
  left: 0;
  display: block;*/
}

.section#p1 {
  background-image: url("images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section#p2 {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section#p3 {
  background-image: url("images/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section#p4 {
  background-image: url("images/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section#p5 {
  background-image: url("images/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section#p6 {
  background-image: url("images/bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
